

<section>
    <h2>Create New Flashcard</h2>
    <form class="new-flashcard-form">
      <div id="flashcardCategory">
        <label for="category-title">Category Title</label>
        <input type="text" id="category-title" name="category-title" />
        <button type="submit" id="next" class="btn">Next</button>
      </div>
      <div class="hide" id="flashcardQA">
        <label for="flashcard-question">Question</label>
        <input type="text" id="flashcard-question" name="flashcard-question" />

        <label for="flashcard-answer">Answer</label>
        <input type="text" id="flashcard-answer" name="flashcard-answer" />
      <button type="submit" id="new-category-form" class="btn">Create</button>
      <button type="submit" id="done" class="btn">Done</button>
      </div>
    </form>
</section>

    {{#if flashcardsLength}}
    <section>
      <h2>Your Flashcards</h2>
      <ol>
        {{#each flashcards as |flashcard|}}
        <li>
          {{> flashcard-info flashcard}}
        </li>
        {{/each}}
      </ol>
    </section>
    {{/if}}
    <script src="/javascript/add-card.js"></script>