<link rel="stylesheet" href="/stylesheets/style.css" />
<div class="container">
  <h1>Category name</h1>
  <div>
    <button type="Submit">Add Flashcard</button>
  </div>

</div>
<div class="container">
  <div class="card">
    <h2>New Flashcard</h2>
    <label for="question">Question</label>
    <textarea id="question"></textarea>

    <br />
    <label for="answer">Answer</label>
    <textarea id="answer"></textarea>

    <br />

    <div>
      <button type="Submit">Save</button>
    </div>
  </div>

  <div class="flashcards">

  </div>
</div>