* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  /* add a google font family */
}

header {
  background-color: white;
}

button {
  padding: 8px;
  outline: none;
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: whitesmoke;
}
button:hover {
  background-color: rgba (0, 0, 0, 7);
}
.container {
  width: 95%;
  margin: auto;
}

/* .nav{
    display:flex;
    justify-content: space-between;
    width:100%;
    margin:auto;
    padding: 20px 0;
    background-color:white;
} */

.card {
  width: 380px;
  margin: auto;
  padding: 20px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: whitesmoke;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.card textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.card button {
  width: fit-content;
}
